// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@mixin transition($speed) {
    transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -webkit-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#title {
    font-family: 'Amatic SC', cursive;
    font-size: 200px;
    color: #333;
}

#quote {
    @include transition(1s);
    width:100%;
    text-align: center;

    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 100px;
        color: grey;
    }
}

#login {
    text-align: center;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    background-color: #333;
}

#facebook-login, #quote {
    display: none;
}

#background {
    @include transition(1s);
    background-color: #333;
    background-image: image-url("bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}